*.o
*.pyc
.deps
aclocal.m4
autom4te.cache
config.sub
config.guess
config.log
config.status
configure
Makefile
Makefile.in
radiance.conf
src/radiance
debug.log
autoconf.h.in
autoconf.h
compile
depcomp
install-sh
missing
stamp-h1

